.header-wrapper {
    padding: 30px;
}


.header-wrapper {
  display: flex;
  justify-content: space-between;

}
.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
  color: #fff;
  align-items: center;
  padding-top: 3rem;
}
.options {
    padding-top: 3rem;
}

